@import "smart-grid";
@import "vars";
@import "fonts";
@import "reset";
@import "mixins/super";
@import "libs";
@import "media"; // Always at the end

.wrapper{
	@include wrapper();
}

.row{
    @include row-flex();
 
    .item{
        @include col();
        @include size(3);
        @include size-md(6);
        @include size-xs(12);
        margin-bottom: 30px;
        @extend .bg_cov;
        background-color: #777;
        @include this('bear.jpeg');
        background-image: resolve('bear.jpeg');
    }
}

.title{
	font-family: Roboto;
	font-weight: 100;
	font-weight: 300;
	font-weight: 400;
	font-weight: 500;
	font-weight: 700;
	text-align: center;
	font-size: 3em;
	margin: 50px;
	display: block;
}
