// Set any aspect ratio

set($a = 1, $b = 1, $display = unquote('block'), $content = "")
	&:before
		display $display
		content $content
		padding-bottom ($b / $a) * 100%
		{block}

// Get current aspect ratio	

get($img, $display = unquote('block'), $content = "")
	$a = width(unquote($img))
	$b = height(unquote($img))
	$c = strip($b)
	$d = strip($a)
	&:before
		display $display
		content $content
		padding-bottom "calc(%s / %s * 100%)" % ($c $d)
		{block}
		
// Set aspect ratio 16/9 		

wide($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 56.25%
		{block}
		
s169($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 56.25%
		{block}

// Set aspect ratio 1/1 

sq($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 100%
		{block}
		
s11($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 100%
		{block}

// Set aspect ratio 2/1 

s21($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 50%
		{block}

// Set aspect ratio 1/2 

s12($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 200%
		{block}

// Set aspect ratio 4/3

s43($display = unquote(block), $content = "")
	&:before
		display $display
		content $content
		padding-bottom 75%
		{block}

// Mixins for Before and After

bef($display = unquote(block), $content = '')
	&:before
		display: $display
		content: $content
		{block}

aft($display = unquote(block), $content = "")
	&:after
		display $display
		content $content
		{block}

// Media Queries

min(width)
	@media screen and (min-width: width)
		{block}
		
max(width)
	@media screen and (max-width: width)
		{block}
		
minmax($min-width, $max-width)
	@media screen and (min-width: $min-width) and (max-width: $max-width)
		{block}