// Set any aspect ratio

.set(@a: 1, @b: 1, @display: block, @content: ''){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: (@b / @a) * 100%;	
	}
}

// Get current aspect ratio

.get(@img, @display: block, @content: ""){
	@a: width(@img);
	@b: height(@img);
	@c: calc(strip(@b) / strip(@a) * 100%);
	&:before{
		display: @display;
		content: @content;
		padding-bottom: @c;
	}
}

// Aspect ratio 16/9 

.wide(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 56.25%;
	}
}

.s169(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 56.25%;
	}
}

// Aspect ratio 1/1 

.sq(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 100%;
	}
}

.s11(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 100%;
	}
}

// Aspect ratio 2/1 

.s21(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 50%;
	}
}

// Aspect ratio 2/1 

.s12(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 200%;
	}
}

// Aspect ratio 4/3

.s43(@display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		padding-bottom: 75%;
	}
}

// Mixins for Before and After

.bef(@block, @display: block, @content: ""){
	&:before{
		display: @display;
		content: @content;
		@block(); 
	}
}

.aft(@block, @display: block, @content: ""){
	&:after{
		display: @display;
		content: @content;
		@block();
	}
}

// Media Queries

.min(@width, @content){
	@media screen and (min-width: @width){
		@content();
	}
}

.max(@width, @content){
	@media screen and (max-width: @width){
		@content();
	}
}

.minmax(@min-width, @max-width, @content){
	@media screen and (min-width: @min-width) and (max-width: @max-width){
		@content();
	}
}