// Adding font using PostCSS

=font($font-family, $font-name: $font-family, $font-weight: normal, $font-style: normal)
	@font-face
		font-family: '#{$font-family}'
		src: resolve('#{$font-name}.woff2') format('woff2'), resolve('#{$font-name}.woff') format('woff')
		font-weight: $font-weight
		font-style: $font-style

// Adding font without using PostCSS
// The font should be located in the directory ../assets/font/font-name/
// for example ../assets/font/RobotoRegular/RobotoRegular.woff2
//             ../assets/font/RobotoRegular/RobotoRegular.woff

// =font($font-family, $font-name: $font-family, $font-weight: normal, $font-style: normal)
// 	@font-face 
// 		font-family: '#{$font-family}'
// 		src: url('../fonts/#{$font-name}/#{$font-name}.woff2') format('woff2'), url('../fonts/#{$font-name}/#{$font-name}.woff') format('woff')
// 		font-weight: $font-weight
// 		font-style: $font-style

//	Maximum support with old permissions, only for rich and inadequate customers.

// =font($font-family, $font-name: $font-family, $font-style: normal, $font-weight: normal)
// 	font-family: "#{$font-family}"
// 	src: url("../fonts/#{$font-name}/#{$font-name}.eot")
// 	src: url("../fonts/#{$font-name}/#{$font-name}.eot?#iefix")format("embedded-opentype"), url("../fonts/#{$font-family}/#{$font-family}.woff") format("woff"), url("../fonts/#{$font-family}/#{$font-family}.ttf") format("truetype")
// 	font-style: $font-style
// 	font-weight: $font-weight