@import '_smart-grid'
@import 'mixins/_wonder'
@import '_vars'
@import '_fonts'
@import '_libs'
@import '_media'

res()

// .wrapper
// 	wrapper()

// .row
// 	row-flex()

// .item
// 	col()
// 	size(3)
// 	margin-bottom 30px
// 	background-color #333
// 	@extend .bg_cov;
// 	background-image resolve('bear.jpeg')
// 	+get('bear.jpeg')
// 		box-sizing border-box

.item-img
	background-color #777
	img('bear.jpeg')		

