@import '_smart-grid'
@import '_vars'
@import 'mixins/_super'
@import '_fonts'
@import '_reset'
@import '_libs'
@import '_media'


.wrapper
	wrapper()

.row
	row-flex()

.item
	col()
	size(3)
	margin-bottom 30px
	background-color #333
	+any(1,1)
		box-sizing border-box
