.add-font(@font-name; @font-style: normal; @font-weight: normal) {
	font-family: "@{font-name}";
	src: url("../fonts/@{font-name}/@{font-name}.eot");
	src: url("../fonts/@{font-name}/@{font-name}.eot?#iefix")format("embedded-opentype"),
	url("../fonts/@{font-name}/@{font-name}.woff") format("woff"),
	url("../fonts/@{font-name}/@{font-name}.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {.add-font(RobotoRegular); }
@font-face {.add-font(RobotoLight); }
@font-face {.add-font(RobotoMedium); }
@font-face {.add-font(RobotoBold); }