@import "smart-grid";
@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "hover";
@import "media";

.wrap{
	.row-flex();
	
	.item{
		.col();
		.size(3);
		margin-bottom: 30px;
		background-color: #555;

		&:before{
			display: block;
			content:'';
			margin-top: 100%;
		} 
	}
	
}

.holder{
	.wrapper();	
}	
